@layout('page')
<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-6 col-md-8 mx-auto">
        <h1 class="fw-light">Cadastro de Pessoas</h1>
        <form method="post" action="/pessoas/atualizar/{{id}}">
          <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" aria-describedby="nameHelp" name="name" value="{{name}}">
            <div id="nameHelp" class="form-text">Insira o nome da pessoa.</div>
          </div>
          <div class="mb-3">
            <label for="cpf" class="form-label">CPF</label>
            <input type="number" class="form-control" id="cpf" aria-describedby="cpfHelp" name="cpf" size="11" value="{{cpf}}">
            <div id="cpfHelp" class="form-text">Insira o CPF correspondente</div>
          </div>
          <button type="submit" class="btn btn-primary">Salvar</button>
        </form>
      </div>
    </div>
  </section>
</main>
