@layout('page')
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-9 col-md-8 mx-auto">
                <h1 class="fw-light">Listagem de Pessoas</h1>
                <a type="button" class="btn btn-primary" href="/pessoas/novo">
                    <i class="bi bi-plus"></i>
                    Adicionar
                </a>

                <form class="mt-5" method="get" action="/pessoas">
                    <div class="row g-3 align-items-center">
                        <div class="col-auto">
                            <label for="inputPassword6" class="col-form-label">Nome</label>
                        </div>
                        <div class="col-auto">
                            <input type="text" id="search" class="form-control" aria-describedby="passwordHelpInline" name="name">
                        </div>
                        <div class="col-auto">
                            <button type="submit" class="btn btn-primary">
                                <i class="bi bi-search"></i>
                                Pesquisar
                            </button>
                        </div>
                    </div>
                </form>

                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nome</th>
                        <th scope="col">CPF</th>
                        <th scope="col">QTD Contatos</th>
                        <th scope="col">Operações</th>
                    </tr>
                    </thead>
                    <tbody>
                    {{item}}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
</main>
