@layout('page')
<main>
    <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
            <h1 class="display-5 fw-bold">Teste para vaga de Desenvolvedor Back-end no Magazord.com.br</h1>
            <p class="col-md-8 fs-4">Este repositório tem como fim testar os candidatos para vaga de desenvolvedor Desenvolvedor Back-end na empresa Magazord.
                Para esta vaga buscamos alguém apaixonado por PHP, JavaScript, Banco de Dados, APIs e que tenha facilidade em outras tecnologias e esteja sempre atento aos detalhes!
            </p>
            <a class="btn btn-primary btn-lg" href="https://github.com/magazord-plataforma/magazord-backend-test">
                <i class="bi bi-github"></i>
                Github
            </a>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark rounded-3">
                <h2>Requisitos funcionais</h2>
                <ul>
                    <li>RF01 - O sistema deve manter uma tela de consulta para pessoas.</li>
                    <li>RF02 - O sistema deve manter um campo de pesquisa por nome de pessoa.</li>
                    <li>RF03 - O sistema deve manter uma tela de consulta para contatos.</li>
                    <li>RF04 - O sistema deve manter um CRUD (Cadastrar, Visualizar, Alterar, Excluir) para pessoas.</li>
                    <li>RF05 - O sistema deve manter um CRUD (Cadastrar, Visualizar, Alterar, Excluir) para contato.</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary border rounded-3">
                <h2>Requisitos não funcionais</h2>
                <ul>
                    <li>RNF01 - O sistema deve utilizar a linguagem PHP para o Back-end.</li>
                    <li>RNF02 - O sistema deve utilizar a ORM Doctrine para o Back-end.</li>
                    <li>RNF03 - O sistema deve utilizar JS, HTML, CSS.</li>
                    <li>RNF04 - O sistema deve ser organizado pelo padrão MVC.</li>
                    <li>RNF05 - O sistema deve utilizar o Composer para gerenciamento de dependências.</li>
                    <li>RNF06 - O sistema deve utilizar um banco de dados SQL (postgres ou mysql).</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="row align-items-md-stretch">
        <div class="col-md-6">
            <div class="h-100 p-5 bg-body-tertiary rounded-3">
                <h2>Regra de negócios</h2>
                <ul>
                    <li>RN01 - São dados de pessoas: Nome e CPF.</li>
                    <li>RN02 - São dados de contato: Tipo (Telefone ou Email), Descrição.</li>
                    <li>RN03 - Uma pessoa pode ter vários contatos</li>
                </ul>
            </div>
        </div>
        <div class="col-md-6">
            <div class="h-100 p-5 text-bg-dark border rounded-3">
                <h2>Links para documentação de ferramentas utilizadas.</h2>
                <ul>
                    <li>Composer: https://getcomposer.org/</li>
                    <li>Doctrine: https://www.doctrine-project.org/projects/doctrine-orm/en/2.10/index.html</li>
                </ul>
            </div>
        </div>
    </div>
</main>
