@layout('page')
<main>
  <h1 class="visually-hidden">Heroes examples</h1>

  <div class="px-4 py-5 my-5 text-center">
    <h1 class="display-5 fw-bold text-body-emphasis">
      <i class="bi bi-emoji-tear-fill" width="16" height="16"></i>
    </h1>
    <h1 class="display-5 fw-bold text-body-emphasis">
      Não foi possível processar a solicitação
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">{{msg}}</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a type="button" class="btn btn-primary btn-lg px-4 gap-3" href="/">Página inicial</a>
      </div>
    </div>
  </div>
  <div class="b-example-divider mb-0"></div>
</main>