@layout('page')
<main>
    <section class="py-5 text-center container">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Desafio Magazord!</h1>
                <p class="lead text-body-secondary">Teste para vaga de Desenvolvedor Back-end no Magazord.com.br</p>
                <p>{{name}} - {{cpf}}</p>
                <p>
                    <a class="btn btn-secondary" href="https://github.com/AndersonRezende/MagazordTest">
                        <i class="bi bi-github"></i>
                        Github
                    </a>
                </p>
            </div>
        </div>
    </section>
</main>
