<tr>
  <th scope="row">{{id}}</th>
  <td>{{name}}</td>
  <td>{{cpf}}</td>
  <td>{{contacts}}</td>
  <td class="d-flex form-inline">
    <a type="button" class="btn btn-primary" href="/pessoas/{{id}}">
      <i class="bi bi-eye"></i>
      Exibir
    </a>
    <a type="button" class="btn btn-info" href="/pessoas/editar/{{id}}">
      <i class="bi bi-pencil"></i>
      Editar
    </a>

    <form action="/destroy/{{id}}" method="POST">
      <input type="hidden" value="{{id}}">
      <button type="submit" class="btn btn-danger">
        <i class="bi bi-trash"></i>
        Deletar
      </button>
    </form>
  </td>
</tr>